<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>NYC Checklist</title>
	<link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>
<body>
	<div class="front-page">
			<nav class="navbar">
                
                <!---logo and background from canva--->
                <div>
				    <img class="logo" src="/img/logo.png">
                </div>  
				<ul>
					<li><a href="../index.html">Home</a></li>
					<li><a class="active" href="about.html">About</a></li>
					<li><a href="services.html">Services</a></li>
					<li><a href="contact.html">Contact</a></li>
					<li><a href="feedback.html">Feedback</a></li>
				</ul>
			</nav>
			
                <div class="container">
                    <div class="cards">
                        <div>
							
                            <i class="material-symbols-outlined">design_services</i>
                       		<h3>Design </h3> 
								<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus atque asperiores corporis delectus a, veritatis repellat repudiandae temporibus, fuga sunt unde!</p>
								<a class="button" href="#">Read More</a>
                        </div>
						<div>
							
                            <i class="material-symbols-outlined">description</i>
							<h3>Planning</h3>
							   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati et veniam voluptate debitis dolorem quia, ut ipsa nesciunt ipsam laboriosam quod, necessitatibus, aspernatur odit nobis!</p>
							   <a class="button" href="#">Read More</a>
                        </div>
						<div>
							
                            <i class="material-symbols-outlined">groups</i>
                       		 <h3>Team</h3>
								<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam eum fugit quos, nesciunt quam consequuntur sunt ad quasi sapiente, illum reiciendis facilis consectetur odio minus sit praesentium, laudantium officia!</p>
								<a class="button" href="#">Read More</a>
                        </div>
                    </div>
                </div>
           
            
	</div>

</body>
</html>
