<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>NYC Checklist</title>
	<link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>
<body>
	<div id="front-page">
			<nav class="navbar">
            
                <div>
				    <img class="logo" src="/img/logo.png">
                </div>  
				<input class="search" type="text" placeholder="Search events">
				<ul>
					<li><a href="../index.html">Home</a></li>
					<li><a href="about.html">About</a></li>
					<li><a href="contact.html">Contact</a></li>
					<li><a class="active" href="feedback.html">Feedback</a></li>
					<li><a class="signin" href="login.html">Sign In</a></li>
					<div class="dropdown" data-dropdown>
                        <button id="link" class="material-symbols-outlined" data-dropdown-button>menu</button>
                        <div class="dropdown-menu">
                            <a href="../index.html">Home</a>
					        <a href="about.html">About</a>
					        <a href="contact.html">Contact</a>
					        <a href="feedback.html">Feedback</a>
                            <a href="login.html">Sign In</a>
                        </div>
                    </div>
				</ul>
			</nav>
			<div class="feedbackBox">
				
				<div>
					<img src="/img/feedback-img.png">
					<h3>Send up some feedback!</h3>
					<textarea class="feedback-text-box" placeholder="Describe your issues or ideas..."  rows="10" cols="50"></textarea>	
					
					<br>
						<input type="checkbox" id="check-bug" name="check-bug" value="Bug">
						<label for="check-bug"> Bug</label>
						<input type="checkbox" id="check-comment" name="check-comment" value="Comment">
						<label for="check-comment"> Comment</label>
						<input type="checkbox" id="check-other" name="check-other" value="Other">
						<label for="check-other"> Other</label>
					<br>
					<br>
					<button id="button" class="send-feedback">Send Feedback</button>
				</div>
				
			</div>
            
	</div>
	<script src="../script.js"></script>
</body>
</html>
